* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-icon {
    width: 30px;
    height: 30px;
    color: var(--light);
    cursor: pointer;
    margin-right: 0;
}
.movile-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.movile-nav .nav-links {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 49px;
    right: 0;
    background-color: var(--dark-grey);
    opacity: .95;
    border-top: 2px solid var(--secondary);
    padding: 2rem;
    box-shadow: 0 0 5px 0 var(--light);
    animation: menuEfect .5s linear;
    z-index: 15;
}
@keyframes menuEfect {
    from {
        top: -180px;
        transform: scale(0);
    }
    to {
        top: 49px;
        transform: scale(1);
    }
}
.movile-nav .nav-links li {
    left: 1rem;
}

