.my-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
	padding: 0.5rem 1rem;
	border-radius: 25px;
	background: var(--primary);
	border: 2px solid var(--light);
	color: var(--light);
	margin: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	transition: all ease 0.2s;
}
.my-button:hover {
	transform: scale(1.1);
}
.my-button:active {
	transform: scale(0.7);
	opacity: 0.2;
}
a {
	text-decoration: none;
	color: var(--light);
}
