* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.about-me {
    width: 100%;
    height: 900px;
    background: var(--light-grey);
}
