.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: .5rem;
}
.about-me {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: var(--dark-grey); 
}
.about-me-photo {
    margin: 3rem;
    width: 80%;
    max-height: 40rem;
    min-height: 15rem;    
    background-image: url(../../assets/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg);
    background-size: cover; 
    background-position: center;
    border-radius: 15px;    
    box-shadow: 0 0 10px 0 var(--light); 
}
.about-me-photo:hover {
 transform: scale(1.1);
 transition: .5s;
}
.about-me-details {
    height: 50%;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    background-color: var(--dark-grey);
    color:var(--light);
}
.about-me-details-content:hover {
    transform: scale(1.1);
    transition: .5s;
}
.about-me-details h4 {
    text-align: center;
    margin-bottom: 2rem;
}
.about-me-details p {
    text-align: justify;
    margin-bottom: .5rem;
    font-size: .8rem;
}
@media screen and (min-width: 768px) {
    .about-me {
        flex-direction: row; 
        padding: 2rem 1rem; 
    }
    .about-me-details {
        padding: 2rem;
    }
}


